# Basic of Python

- ESC+M = Markdown
- ESC+1 = TItle/Heading
- ESC+Y = Code
- function(Shift + Tab) = Shows argument of function  e.g. s.upper(here press shift+tab)

# Variable Creation in Python
- Variables acts as a container to store data in memory space.
- Variables are pointer towards object in python
- Variables can start with letters or underscore.
- You cannot include special characters while creating a variable.

**Important to remeber while creating variables**
1. Python is case sensitive
2. If variable name involves more than 2 words, join those words with underscore.
3. Give meaningful name to variables

In [1]:
10

10

In [2]:
a = 10
a

10

In [3]:
id(a)

140715418424392

In [4]:
2name = 'Python'  # variable name always starts with letter
2name

SyntaxError: invalid decimal literal (3915820541.py, line 1)

In [7]:
name2 = 'Python'  #variable start with letter after that nos. are allowed
name2

'Python'

In [8]:
@Name = "Poonam"  #special character are not alloweded except _
@Name

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3532689374.py, line 1)

- **Single Line Comment** 

**By using # we can write comment**

In [9]:
Name_1 ="Poonam"  # use only _ as special character
Name_1

'Poonam'

In [10]:
Age = 60 # age variable contains value 60
Age

60

- **Multi Line Comment**

**Triple quote is used for Multiline comment**

In [11]:
'''My name is Poonam Sanjay Nikam.
I am 22 years old.
Recently, I am live in Pune.'''

'My name is Poonam Sanjay Nikam.\nI am 22 years old.\nRecently, I am live in Pune.'

- Equality Operator

In [12]:
s = 'Python'
s1 = 'python'
s2 = 'Python'

In [13]:
s == s1

False

In [14]:
s == s2

True

# Data types 
- Integers
- Float
- String
- Boolean

In [15]:
a = 5  # Integer
a

5

In [16]:
b =12.3  # float
b

12.3

In [17]:
c = 'Poonam'  #string
c

'Poonam'

In [18]:
d = True  #boolean
d

True

- **type Function**

*It gives a data type*

In [19]:
type(a)

int

In [20]:
type(b)

float

In [21]:
type(c)

str

In [22]:
type(d)

bool

In [23]:
#grammatically correct but python can not understand this
st = 'It's a Laptop'

SyntaxError: unterminated string literal (detected at line 2) (2402405426.py, line 2)

In [24]:
st1 = "It's a Laptop"    # Correct syntax
st1

"It's a Laptop"

In [25]:
st2 = 'It"s aLaptop'  # correct syntax but gramatically not well
st2

'It"s aLaptop'

# Type Casting
- It converts one data type in another data type

In [26]:
Age
type(Age)

int

In [27]:
x = str(Age) #converts into string
x

'60'

In [28]:
type(x)

str

In [29]:
float(Age)  #age is an integer and it converts age in float

60.0

In [30]:
bool(-5)  #It convert all integers into bool with true value except zero

True

In [31]:
bool(2)

True

In [32]:
bool(0)  #zero takes false value

False

*We can convert any type of values to bool type, and the output for all values will be True ,Except 0, which is False*

## String Methods

In [33]:
s = 'We are learning Python.'

- Capitalize

In [34]:
s.capitalize()   # 1st letter of string is in upper case

'We are learning python.'

- Upper

In [35]:
s.upper()  #all letters converts into uppercase

'WE ARE LEARNING PYTHON.'

- Lower

In [36]:
s.lower()  #all letters converts into lowercase

'we are learning python.'

- Count

In [37]:
s.count('a')  #calculate occurance of letter or word

2

In [38]:
s.count(' ')  #it calculate spaces in sentence

3

- startswith and endswith

In [39]:
s.startswith('W')  #check whether it starts with given letter or not

True

In [40]:
s.startswith('w')

False

In [41]:
s.endswith('n')  #check whether it ends with given letter or not

False

In [42]:
s.endswith('.')

True

- find

In [43]:
s.find('We')  #it gives index of given

0

In [44]:
s.find('a')

3

- replace

In [45]:
s.replace('We','They')  # it replace old value with new value and it will save temporarily

'They are learning Python.'

In [46]:
s

'We are learning Python.'

In [47]:
s = s.replace('We','They')  #to store permanent
s

'They are learning Python.'

# Data Structures
- It act as container of multiple value or variables
- Types 
1. Homo
2. Hetro: a. Mutable b.Immutable
    - **List**
    - **Tuple**
    - **Dictonary**
    - **Sets**

## List
- Lists are Hetrogenous data structure.
- Lists are mutable.

In [48]:
lst = [] # list should be in square bracket only
type(lst)

list

In [49]:
lst = [10,10.2,True,'Python']  #creating list
lst

[10, 10.2, True, 'Python']

In [50]:
lst.append(False) #add given value at last position
lst

[10, 10.2, True, 'Python', False]

In [51]:
lst.insert(1,'R') #add given value at given index position
lst

[10, 'R', 10.2, True, 'Python', False]

In [52]:
lst.count(10.2)  #it calculate occurance of given value

1

In [53]:
lst.index('R') #it gives index number

1

In [54]:
lst.pop() # by default it delete value in list at last position

False

In [55]:
lst

[10, 'R', 10.2, True, 'Python']

In [56]:
lst.remove(10) #remove value from given index number

In [57]:
lst

['R', 10.2, True, 'Python']

## Tuple
- Tuples are ordered and heterogenous data structure.
- Tuples are immutable.

In [58]:
t = () #create a tuple and parenthesis is reffered for tuple 
type(t)

tuple

In [59]:
t = (10,5.5,True,"python") #creating tuple
t

(10, 5.5, True, 'python')

In [60]:
t.count(10)  #it count occurance of given value

1

In [61]:
t.index('python')  #gives index number

3

In [62]:
t[1] #it gives value of given index number

5.5

In [63]:
t[3]

'python'

## Dictionary
- Python dictionaries are ordered collection of items.
- Dictionary is mutable data structure.
- It has key and value pair.

In [64]:
dictionary = {}  #{} is reffered to dictionary data type
type(dictionary)

dict

In [65]:
#creating a dictionary
dictionary = {'Name':'Poonam',
             'Age':22,
             'Location':'Nashik',
             'Course': 'DS+DA'}
dictionary

{'Name': 'Poonam', 'Age': 22, 'Location': 'Nashik', 'Course': 'DS+DA'}

In [66]:
dictionary.get('Name')  #gives value of given key

'Poonam'

In [67]:
dictionary.items()  #it shows element of dictionary in tuple format

dict_items([('Name', 'Poonam'), ('Age', 22), ('Location', 'Nashik'), ('Course', 'DS+DA')])

In [68]:
dictionary.keys()  #gives keys only

dict_keys(['Name', 'Age', 'Location', 'Course'])

In [69]:
dictionary.update({'Date':2023})  #add key-value pair
dictionary

{'Name': 'Poonam',
 'Age': 22,
 'Location': 'Nashik',
 'Course': 'DS+DA',
 'Date': 2023}

In [70]:
dictionary.update({'Month':'sept','Year':2023})  #we can add multiple key-value pair
dictionary

{'Name': 'Poonam',
 'Age': 22,
 'Location': 'Nashik',
 'Course': 'DS+DA',
 'Date': 2023,
 'Month': 'sept',
 'Year': 2023}

In [71]:
dictionary.pop('Location') #delete mentioned key with value associated to that key

'Nashik'

In [72]:
dictionary

{'Name': 'Poonam',
 'Age': 22,
 'Course': 'DS+DA',
 'Date': 2023,
 'Month': 'sept',
 'Year': 2023}

In [73]:
dictionary['Name']

'Poonam'

In [74]:
dictionary['Name'] = 'Deepa'
dictionary

{'Name': 'Deepa',
 'Age': 22,
 'Course': 'DS+DA',
 'Date': 2023,
 'Month': 'sept',
 'Year': 2023}

## Sets
- Set is a collection which is unordered,unindexed.
- Set is immutable.
- Sets are unordered, so you cannot be sure in which order the items will appear.
- Sets do not allow duplicate values.
- Once a set is created, you cannot change its items, but you can remove items and add new items.
- As sets are unordered, they do not support indexing and slicing operations.

In [75]:
lst = [10,10,10,10,12,15]
lst

[10, 10, 10, 10, 12, 15]

In [76]:
#Does not allow duplicate items
s1 = {10,10,10,20,30,40,50}
s1

{10, 20, 30, 40, 50}

In [77]:
#Does not support indexing
s1[4]

TypeError: 'set' object is not subscriptable

In [78]:
#Add
s1.add(60)
s1

{10, 20, 30, 40, 50, 60}

In [79]:
#pop
s1.pop()
s1

{10, 20, 30, 40, 60}

- we can add or delete element in set but it deleted randomly. so sets are immutable.

# Input function

In [80]:
age = 55
age

55

In [1]:
age = input()  #input function gives output in string data type

22

In [2]:
type(age)

str

In [3]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
num1+num2

Enter first number: 5
Enter second number: 3

'53'

In [4]:
text = 'python'
text1 = 'Language'
text+text1

'pythonLanguage'

- This is called as concatenation of strings

In [5]:
text+' '+text1  #add space by giving space in quotes. e.g.-> " ",' '

'python Language'

In [6]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
num1+num2

Enter first number: 10
Enter second number: 32

42

# Conditional Statement
- if
- else
- elif

In [7]:
player = 'Virat'
if player == 'Virat':
    print('It is virat')

It is virat

In [8]:
player = 'Rohit'
if player == 'Virat':
    print('It is virat')

In [9]:
player = 'Virat'
if player == 'Virat':
    print('It is virat')
else:
    print('It is not Virat')

It is virat

In [10]:
player = 'Rohit'
if player == 'Virat':
    print('It is virat')
else:
    print('It is not Virat')

It is not Virat

In [11]:
num = input('Enter the number: ')  # by default input function converts all into string data type
if num >= 0:
    print('Positive')

Enter the number: 5

TypeError: '>=' not supported between instances of 'str' and 'int'

In [12]:
num = int(input('Enter the number: '))  #so we use here type casting
if num > 0:
    print('Positive')

Enter the number: 3
Positive

In [13]:
num = int(input('Enter the number: '))
if num > 0:
    print('Positive')
else:
    print('Negative')

Enter the number: 4
Positive

In [14]:
num = int(input('Enter the number: '))
if num > 0:
    print('Positive')
else:
    print('Negative')

Enter the number: -2
Negative

In [15]:
#check whether number is positive/negative/zero
num = int(input('Enter the number: '))
if num > 0:
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

Enter the number: 9
Positive

In [16]:
num = int(input('Enter the number: '))
if num > 0:
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

Enter the number: 0
Zero

In [17]:
num = int(input('Enter the number: '))
if num > 0:
    print('Positive')
elif num == 0:
    print('Zero')
else:
    print('Negative')

Enter the number: -6
Negative

In [18]:
#Give the grade to students basis on their marks
#A : marks >= 85
#B : marks < 85 and marks >= 70
#C : marks < 70 and marks >= 60
# D : less than 60
marks = int(input('Enter the marks: '))
if marks >= 85:
    print('A grade')
elif (marks < 85) and (marks >= 70):
    print('B grade')
elif (marks < 70) and (marks >= 60):
    print('C grade')
else:
    print('D grade')

Enter the marks: 90
A grade

In [19]:
marks = int(input('Enter the marks: '))
if marks >= 85:
    print('A grade')
elif (marks < 85) and (marks >= 70):
    print('B grade')
elif (marks < 70) and (marks >= 60):
    print('C grade')
else:
    print('D grade')

Enter the marks: 85
A grade

In [20]:
marks = int(input('Enter the marks: '))
if marks >= 85:
    print('A grade')
elif (marks < 85) and (marks >= 70):
    print('B grade')
elif (marks < 70) and (marks >= 60):
    print('C grade')
else:
    print('D grade')

Enter the marks: 65
C grade

In [21]:
marks = int(input('Enter the marks: '))
if marks >= 85:
    print('A grade')
elif (marks < 85) and (marks >= 70):
    print('B grade')
elif (marks < 70) and (marks >= 60):
    print('C grade')
else:
    print('D grade')

Enter the marks: 35
D grade

In [22]:
#Check whether the number is one/two/three digit
num = int(input('Enter the number:'))
if (num>0) and (num<=9):
    print('One digit number')
elif (num>9) and (num<=99):
    print('Two digit number')
elif (num>99) and (num<=999):
    print('Three digit number')
else:
    print('Gives a correct number')

Enter the number:9
One digit number

In [23]:
#Check whether given number is 99 or not.
num = int(input('Enter the number:'))
if num==99:
    print('It is 99')
else:
    print('Number is not 99')

Enter the number:123
Number is not 99

In [24]:
runs = int(input('Enter the runs: '))
if runs >= 100:
    print('Century')
else:
    print('Not completed century. You needs to complete',100-runs,'runs')  #this is not good code. so we can use format string

Enter the runs: 85
Not completed century. You needs to complete 15 runs

In [26]:
# format string -> print(f" ---{variable}----")
runs = int(input('Enter the runs: '))
if runs >= 100:
    print('Century')
else:
    print(f'Century is not completed. You needs to complete {100-runs} runs')

Enter the runs: 90
Century is not completed. You needs to complete 10 runs