# Functions
-

In [1]:
def simple_function():
    print('This is user defined function')

In [2]:
simple_function()

This is user defined function

In [3]:
def function1():
    '''This function will print 2 sentences'''
    print('This is 1st sentence')
    print('This is 2nd sentence')
function1()

This is 1st sentence
This is 2nd sentence

In [4]:
def max_number(num1,num2):
    '''This function returns maximum number between given numbers'''
    return max(num1,num2)
max_number(10,12)

12

In [5]:
def max_number(num1,num2):
    '''This function returns maximum number between given numbers'''
    if num1 > num2:
        return num1
    else: 
        return num2
max_number(125,12)

125

# Loops : 
- Loop means Repetition
1. While : infinite loop
2. For : finite loop

**Most of the time for loop is used**

## While loop

In [6]:
python = 10
while python > 0 :
    print('Learning python',python)
    python = python-1
print('Python completed')

Learning python 10
Learning python 9
Learning python 8
Learning python 7
Learning python 6
Learning python 5
Learning python 4
Learning python 3
Learning python 2
Learning python 1
Python completed

In [7]:
age = 0
while age < 18:
    print('You are not eligible',age)
    age = age+1
print('You are eligible')

You are not eligible 0
You are not eligible 1
You are not eligible 2
You are not eligible 3
You are not eligible 4
You are not eligible 5
You are not eligible 6
You are not eligible 7
You are not eligible 8
You are not eligible 9
You are not eligible 10
You are not eligible 11
You are not eligible 12
You are not eligible 13
You are not eligible 14
You are not eligible 15
You are not eligible 16
You are not eligible 17
You are eligible

# Range function

In [8]:
range(1,10) #range function doesn't work separately ,it can combine with any another function

range(1, 10)

In [9]:
list(range(1,10)) #make list of given range

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(1,11)) #we required 3 argument in range function starting point, ending point and stepsize
#start is inclusive and end is exclusive

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list(range(1,11,2)) #2 is stepsize

[1, 3, 5, 7, 9]

In [12]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [13]:
list(range(10,0,-1))  #reversed range

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## For loop

In [14]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(1,11):
    i= i**2
    print(i)

1
4
9
16
25
36
49
64
81
100

In [16]:
lst = []
for i in range(1,11):
    lst.append(i)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
company = ['flipkart','amazon','excelr']
for i in company:
    i = 'www.'+i+'.com'
    print(i)

www.flipkart.com
www.amazon.com
www.excelr.com

## List Compreshesion
- Easiest way of creating list data structure along with any loop or conditional statement

In [18]:
lst = []
for i in range(1,21):
    lst.append(i+10)
lst
#over writing this program we can use next program

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [19]:
[i+10 for i in range(1,21)]

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [20]:
lst = ['Aisha','Ameya','Nikita','Arya','Aman']
for i in lst:
    if i.startswith('A'):
        print(i)

Aisha
Ameya
Arya
Aman

In [21]:
lst = [2,4,5,3]
for i in lst:
    i = i+5
    print(i)

7
9
10
8

In [22]:
lst = [60,35,87,91,77]
for i in lst:
    if i>75:
        print(i)

87
91
77

In [23]:
num = int(input('Enter the number: '))
for i in range(1,11):
    print(num*i)

Enter the number: 5
5
10
15
20
25
30
35
40
45
50

In [24]:
num = int(input('Enter the number: '))
for i in range(10,0,-1):
    print(num*i)

Enter the number: 5
50
45
40
35
30
25
20
15
10
5

In [25]:
num = int(input('Enter the number: '))
for i in range(10,0,-1):
    print(f'{num} * {i} = {num*i}')

Enter the number: 5
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [26]:
num = int(input('Enter number: '))
for i in range(1,11):
    n = num*i
    print(n)

Enter number: 5
5
10
15
20
25
30
35
40
45
50